<footer>
    <div class="content">
        <h3>Disclaimer</h3>
        <div class="body">
            <p>This website was made by <b>XR Comic Science</b>, a group of scientists, designers and illustrators from the <a href="https://extinctionrebellion.de">Extinction Rebellion</a> movement in Germany.</p>
            <p>Extinction Rebellion (XR) is a do-it-together movement. All our design and artwork can be used non-commercially for the purpose of planet saving. Do not use the work for commercial purposes, however well meaning, without prior consent from the originators.</p>
            <p>The Extinction Symbol was designed prior to Extinction Rebellion. Using the symbol on commercial merchandise is strictly forbidden. For more information visit <a href="https://www.extinctionsymbol.info">www.extinctionsymbol.info</a>.</p>
        </div>
    </div>
</footer>