    <header>
        <div class="content">
            <a href="/"><div class="logo">
                <img src="/static/images/xrcomsci-logo.svg" height="95" />
            </div></a>
            <ul class="nav">
                <!-- <li><a href="https://resources.xrscience.earth/">Graphic Resources</a></li>
                <li><a href="https://rebellion.global/">XR Global</a></li>
                <li><a href="https://extinctionrebellion.de">XR Germany</a></li> -->


                <li><a href="/faq">FAQ</a></li>
                <li><a href="https://github.com/xr-comic-science"><i class="im im-github" title="github"></i></a></li>
                <li><a href="https://twitter.com/xrcomicscience"><i class="im im-twitter" title="twitter"></i></a></li>
                <li><a href="https://www.instagram.com/xrcomsci/"><i class="im im-instagram" title="instagram"></i></a></li>
                <li><a href="https://www.reddit.com/user/xrcomicscience"><i class="im im-reddit" title="reddit"></i></a></li>

                <% (page.translations || []).forEach(function(lang) {
                    if (page.language !== lang.language) { %>
                    <li><a href="<%- lang.url %>"><%- lang.language %></a></li>
                <% } }) %>
            </ul>
        </div>
    </header>